body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkred;
}
body figure {
  display: grid;
  font-size: 60px;
  color: whitesmoke;
  grid-template-columns: repeat(8, 1em);
  grid-template-rows: repeat(3, 1em);
}
body figure .two {
  background-color: currentColor;
  filter: drop-shadow(4em 0);
}
body figure .two.part1 {
  grid-area: 1;
  border-top-left-radius: 100%;
}
body figure .two.part2 {
  grid-area: 2 / 2;
  border-bottom-right-radius: 100%;
}
body figure .two.part3 {
  grid-area: 3 / 1;
  border-top-left-radius: 100%;
}
body figure .two.part4 {
  grid-area: 3 / 2;
  border-bottom-left-radius: 100%;
}
body figure .zero {
  width: 0;
  height: 0;
  border: 1em solid;
  border-color: currentColor transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  animation: round 4s linear infinite;
}
body figure .zero.copy-1 {
  grid-area: 2/3/4/5;
}
body figure .zero.copy-2 {
  grid-area: 2/7/4/8;
}
body figure .text {
  text-transform: uppercase;
  font-family: cursive;
  font-size: 0.66em;
  line-height: 1.5em;
  font-weight: bold;
  padding-left: 0.2em;
}
body figure .text.happy {
  grid-area: 1/2;
}
body figure .text.year {
  grid-area: 1/6;
}
body figure .text.new {
  grid-area: 2/4;
  mix-blend-mode: difference;
}
@keyframes round {
  to {
    transform: rotate(calc(-45deg + -1turn));
  }
}
